 <script type="text/javascript">   
     
 $(document).ready(function() {
 
    
   }); 
   
  </script>  
    
    <div id="AccessoriesFormPanel" class="SystemAdminFormPanel" >
    
                <form id="AccessoriesForm" name="AccessoriesForm" method="post"  action="{$_subdomain}/LookupTables/saveProductCode" class="inline" >
       
                <fieldset>
                    <legend title="" >ProductCode</legend>
                        
                    <p><label id="suggestText" ></label></p>
                            <p>
                            <label ></label>
                            <span class="topText" >{$page['Text']['top_info_text1']|escape:'html'} <span>*</span> {$page['Text']['top_info_text2']|escape:'html'}</span>

                            </p>
                       
        
                       
                         
                         
                         <p>
                            <label class="cardLabel" for="StatusName" >Product Code Name:<sup>*</sup></label>
                           
                             &nbsp;&nbsp; <input  type="text" class="text"  name="ProductCodeName" value="{$datarow.ProductCodeName|escape:'html'}" id="ProductCodeName" >
                        
                         </p>
                         
                         
                         {if $datarow.ProductCodeID neq '' && $datarow.ProductCodeID neq '0'}
                             
                          <p>
                            <label class="cardLabel" for="Status" >{$page['Labels']['status']|escape:'html'}:<sup>*</sup></label>
                           
                             &nbsp;&nbsp; 
                        
                                {foreach $statuses as $status}

                                    <input  type="radio" name="Status"  value="{$status.Code}" {if $datarow.Status eq $status.Code} checked="checked" {/if}  /> <span class="text" >{$status.Name|escape:'html'}</span> 

                                {/foreach}    

                          </p>
                          
                         {/if}
                         <input type="hidden" name="ProductCodeID" value="{$datarow.ProductCodeID}">
                     

                         <p>
                <hr>
                               
                                <div style="height:20px;margin-bottom: 10px">
                                <button type="submit" style="float: left" class="gplus-blue">Save</button>
                                <button type="button" onclick="$.colorbox.close();" style="float:right" class="gplus-blue">Cancel</button>
                                </div>
            </p>    

                           
                          
                         
                         


                </fieldset>    
                        
                </form>        
                        
       
</div>
                 
 
                          
                        
